@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.searchContainer {
  color: colors.$MAIN_TEXT;

  h2 {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
  }

  .inputBox {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      height: 55px;
      padding: 0 50px 0 35px;
      line-height: 55px;
      color: colors.$MAIN_TEXT;
      background: colors.$BLACK1;
      border-radius: 50px;
    }

    button {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);

      svg path {
        fill: colors.$SUB_TEXT;
      }
    }
    @include responsive.after(LD) {
      width: 700px;
      margin: 0 auto;
    }
  }

  .result {
    margin-top: 50px;

    h3 {
      height: 50px;
      margin: 30px 0 20px;
      font-size: 20px;
      line-height: 50px;
    }

    .playlists {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;

      @include responsive.after(SD) {
        grid-template-columns: 1fr 1fr;
      }

      @include responsive.after(MD) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include responsive.after(LD) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
