@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/typography';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/animation';

.myplayContainer {
  color: colors.$MAIN_TEXT;

  h2 {
    height: 50px;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
    line-height: 50px;
    opacity: 0;
    transition: 0.5s;
    animation: loadText 0.5s cubic-bezier(0.35, 0.22, 0.32, 1.27) forwards;
    @include animation.loadText;

    svg {
      margin-left: 5px;
      vertical-align: -3px;
      animation: emotionMove 1.2s alternate infinite;
    }

    @include animation.emotionMove;
  }

  .playlists {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 60px;
    opacity: 0;
    transition: 0.5s;
    animation: load 0.5s 0.3s cubic-bezier(0.35, 0.22, 0.32, 1.27) forwards;

    @include responsive.after(SD) {
      grid-template-columns: 1fr 1fr;
    }

    @include responsive.after(MD) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include responsive.after(LD) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  > p {
    opacity: 0;
    transition: 0.5s;
    animation: load 0.5s 0.3s cubic-bezier(0.35, 0.22, 0.32, 1.27) forwards;
  }
}

@include animation.load;
