@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/typography';
@use '/src/styles/mixins/responsive';

.myplayContainer {
  color: colors.$MAIN_TEXT;

  h2 {
    height: 50px;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
    line-height: 50px;
  }

  .playlists {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @include responsive.after(SD) {
      grid-template-columns: 1fr 1fr;
    }

    @include responsive.after(MD) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include responsive.after(LD) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
