@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.container {
  position: fixed;
  top: 0;
  left: -140px;
  z-index: 10;
  @include flexbox.flexbox(start, center);
  flex-direction: column;
  width: 130px;
  height: 100%;
  overflow-y: scroll;
  background: colors.$BG_COLOR;
  border-right: 1px solid  rgba(colors.$ASIDE_COLOR, 0.7);
  transition: 0.3s;

  @include responsive.after(MD) {
    @include flexbox.flexbox(center, center);
    left: 0;
  }

  h2 {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
    margin: 50px 0 60px;
    font-size: 12px;
    font-weight: 600;
    color: colors.$MAIN_TEXT;
    text-align: center;

    .icon {
      @include flexbox.flexbox(center,center);
      width: 30px;
      height: 30px;
      margin-bottom: 8px;
      background: colors.$BLACKA;
      border-radius: 50%;

      svg {
        transform: scale(0.7);
      }

      svg path {
        fill: colors.$SIGNATURE_COLOR_LIGHT;
      }
    }

    @include responsive.after(MD) {
      position: absolute;
      top: 30px;
      margin: 20px 0 60px;
      font-size: 15px;

      .icon {
        width: 40px;
        height: 40px;

        svg {
          transform: scale(1);
        }
      }
    }
  }

  .nav ul {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
    gap: 15px;
    width: 100px;

    @include responsive.after(MD) {
      gap: 40px;
    }

    li {
      width: 100%;

      a {
        @include flexbox.flexbox(center, center);
        flex-direction: column;
        font-size: 15px;
        color: colors.$SUB_TEXT;
        text-align: center;

        span {
          font-size: 10px;

          @include responsive.after(MD) {
            font-size: 14px;
          }
        }

        svg {
          padding: 5px;
          margin-bottom: 5px;
          transform: scale(1.3);

          path {
            fill: rgba(colors.$SUB_TEXT, 0.8);
          }

          @include responsive.after(MD) {
            margin-bottom: 10px;
            transform: scale(1.9);
          }
        }

        &.isActive {
          font-weight: 600;
          color: colors.$MAIN_TEXT;
          border-radius: 14px;

          svg {
            path {
              fill: rgba(colors.$MAIN_TEXT, 0.8);
            }
          }
        }
      }
    }
  }

  &.show {
    left: 0;
  }

  .closeIcon {
    @include flexbox.flexbox(center, center);
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
      background: colors.$BLACKA;
    }

    @include responsive.after(MD) {
      display: none;
    }
  }
}

.hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 0.2s;

  &:hover {
    background: colors.$BLACKA;
  }

  @include responsive.after(MD) {
    display: none;
  }
}
