@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100vh;
  background: rgba(colors.$BG_COLOR, 10%);
  backdrop-filter: blur(5px);

  .modalBox {
    @include flexbox.flexbox(between, stretch);
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    background: colors.$WHITE;
    border-radius: 10px;
    box-shadow: colors.$BOX_SHADOW 2px 0 8px 0;
    transform: translate(-50%, -50%);

    .modalTitle {
      padding: 20px 20px 15px;
      font-size: 15px;
      color: colors.$SUB_TEXT;
      border-bottom: 1px solid rgba(colors.$SUB_TEXT, 0.6);
    }

    .btnWrap {
      padding: 0 20px 20px;
      @include flexbox.flexbox(end, center);

      .closeBtn {
        display: block;
        padding: 10px 25px;
        color: colors.$WHITE;
        text-align: center;
        background: colors.$SIGNATURE_COLOR_LIGHT;
        border: 1px solid colors.$SIGNATURE_COLOR_LIGHT;
        border-radius: 10px;
      }
    }
  }
}
