@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/animation';

.moodContainer {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  height: auto;
  margin-bottom: 50px;
  color: colors.$MAIN_TEXT;

  @include responsive.after(HD) {
    height: calc(100vh - 100px);
  }

  h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;

    svg {
      display: inline-block;
      margin-left: 7px;
      vertical-align: -4px;
      fill: colors.$LOVE_COLOR;
      animation: emotionMove 1.2s alternate infinite;
    }
    @include animation.emotionMove;
  }

  .mainMood,
  .subMood {
    @include flexbox.flexbox(center, center);
    gap: 15px;

    li {
      button {
        width: 130px;
        padding: 15px 0;
        font-size: 13px;
        font-weight: 300;
        color: colors.$WHITE;
        background: colors.$BLACK2;
        border: 2px solid transparent;
        border-radius: 15px;
        box-shadow: colors.$BLACKA 2px 7px;

        &:hover {
          border: 2px solid colors.$SIGNATURE_COLOR_LIGHT;
        }

        &:active {
          box-shadow: colors.$BLACKA 2px 5px;
          transform: translateY(2px);
        }
      }

      &.isActive button,
      &.isSubActive button {
        font-weight: 600;
        background: colors.$SIGNATURE_COLOR_LIGHT;
        box-shadow: colors.$SIGNATURE_COLOR_DARK 2px 7px;

        &:active {
          box-shadow: colors.$SIGNATURE_COLOR_DARK 2px 5px;
          transform: translateY(2px);
        }
      }
    }
  }

  .subMood {
    margin-top: 40px;
  }

  .moodSubmit {
    display: block;
    margin: 40px auto 0;
    overflow: hidden;
    font-size: 13px;
    font-weight: 600;
    color: colors.$WHITE;
    text-align: center;
    background: colors.$SIGNATURE_COLOR_LIGHT;
    border-radius: 15px;
    box-shadow: colors.$SIGNATURE_COLOR_DARK 2px 7px;
    transition: 0.3s;

    a,
    span {
      display: inline-block;
      width: 130px;
      padding: 18px 0;
      color: colors.$WHITE;
    }

    &:hover {
      box-shadow: colors.$SIGNATURE_COLOR_DARK 2px 5px;
      transform: translateY(2px);
    }
  }

  @include responsive.after(MD) {
    h2 {
      margin-bottom: 50px;
      font-size: 26px;
    }

    .mainMood,
    .subMood {
      gap: 30px;

      li button {
        width: 180px;
        padding: 25px 20px;
        font-size: 17px;
      }
    }

    .subMood {
      margin-top: 50px;
    }

    .moodSubmit {
      margin: 50px auto 0;
      font-size: 17px;

      a,
      span {
        display: inline-block;
        width: 180px;
        padding: 25px 20px;
      }
    }
  }
}

.modalText {
  text-align: center;
}
